<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sebchat</title>
    </head>
    <script src="server.js"></script>
    <body>
        <form action="/signup" method="post" id="signup">
            Imię:<input type="text" id="name" name="name" required value=<%=name%>><br>
            Nazwisko:<input type="text" id="surname" name="surname" required value=<%=surname%>><br>
            Email:<input type="email" id="email" name="email" value=<%=email%>><br>
            Data urodzenia:<input type="date" id="date" name="date" value=<%=date%>><br>
            Hasło:<input type="text" id="pass" name="pass" value=<%=pass%>><br>
            Potwierdź hasło:<input type="text" id="pass1" name="pass1" value=<%=pass1%>><br><p style="color:red;">hasła się nie zgadzają</p>
            <button type="submit" name="login">Zarejestruj się</button>
        </form><br><br><br>
        
    </body>
</html>